@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <table style="width: 100%" class="table-bordered">
        <thead>
            <tr>
                <th>Partition Key</th>
                <th>Row Key</th>
                <th>Other Key</th>
                <th>Fourth Key</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in @Model.Entities)
            {
                <tr>
                    <td>@entity.PartitionKey</td>
                    <td>@entity.RowKey</td>
                    <td>@entity.OtherColumn</td>
                    <td>@entity.FourthColumn</td>
                </tr>
            }
        </tbody>
    </table>
</div>